<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Michał Dutka">
    <title>Zadanie 8</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="form-structor">
        <div class="signup">
            <h2 class="form-title" id="signup">Sign up</h2>
            <form action="/register" method="post">
                <div class="form-holder">
                    <input type="text" class="input" placeholder="Name" name="name" />
                    <input type="email" class="input" placeholder="Email" name="email" />
                    <input type="password" class="input" placeholder="Password" name="password" />
                </div>
                <button class="submit-btn" type="submit">Sign up</button>
            </form>
        </div>
        <div class="login slide-up">
            <div class="center">
                <h2 class="form-title" id="login">Log in</h2>
                <form action="/login" method="post">
                    <div class="form-holder">
                        <input type="email" class="input" placeholder="Email" name="email" />
                        <input type="password" class="input" placeholder="Password" name="password" />
                    </div>
                    <button class="submit-btn" type="submit">Log in</button>
                </form>
            </div>
        </div>
    </div>
    <% if(msg!=null) { %>
        <script>
            var text = "<%= msg %>";
            alert(text)
        </script>
        <% } %>
            <script src="/js/script.js"></script>
</body>

</html>